.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}
.dropdown__button {
  border: none;
}
.dropdown__popover {
  padding: 0;
  margin: 0;
  position: absolute;
}
.dropdown__popover__item {
  min-width: 90px;
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}
.dropdown__popover__item:hover {
  background-color: hsla(210, 100%, 33%, 0.5);
}
